
L_Core/.visualgdb/
L_Core/build/
L_Core/.vs/
L_Core/L_Core.vgdbproj.falco.user

LCoreClient/LCoreClient/obj/
LCoreClient/.vs/
LCoreClient/ESPScreenLib/bin/
LCoreClient/ESPScreenLib/obj/
LCoreClient/LCoreClient/bin/
BluetoothWin/.vs
BluetoothWin/BluetoothWin/bin
BluetoothWin/BluetoothWin/obj/
